@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  font-family: 'Muli', sans-serif;
}

#projectsPage {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 31%;
  min-width: 214px;
}

.screenShot img {
  width: 500px;
  height: auto; 
  box-shadow: 2px 2px 25px black;
  margin-bottom: 20px;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.nav-links:hover {
  text-decoration: none;
  color: black;
}

#navLinks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
}

#navLinks a {
  padding: 0 18px;
  border-left: 1px solid lightgray;
  transition: background-color  0.25s ease-out;
}

#navLinks a:first-of-type {
  border-left: none;
}

#navLinks a:hover {
  transition: background-color  .5s ease-in;
  background-color: lightgray;
}

.page-footer {
  margin-top: 50px;
}

.icon img{
  height: 11em;
  width: 11em;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0);
}

.list-group-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);;
}

#bioPage {
  div {
    display: flex;
    justify-content: center;
    flex-direction: column; 
  }
  padding: 30px;
  background-color: rgb(3, 11, 49);
  color: rgb(220, 228, 230);
  font-size: 1.75em;
  text-align: center;
}

#title-image {
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185);

  }
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 50%, 0%;
  overflow: auto;
  width: auto;
}

#image-text {
  color: #fff;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.subtitles {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

#tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
}